apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: reconstruction-postgres-pvc
  namespace: reconstruction-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
