---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-nginx
  labels:
    app: home-nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: home-nginx
  template:
    metadata:
      labels:
        app: home-nginx
    spec:
      containers:
        - name: nginx
          image: nginx:stable
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: home-nginx
spec:
  selector:
    app: home-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
